@import url('~/assets/fonts/helvetica/helvetica.css')
@import url('~/assets/fonts/popins/popins.css')
@import url('~/assets/fonts/helvetica-neue/helvetica-neue.css')

.landing-bg
  background: url('~/assets/images/landing.png') !important
  background-repeat: no-repeat !important
  background-size: cover !important

* {
  font-family: Poppins;
}

.pointer
  cursor: pointer !important

.global-text-style
  font-family: Poppins

.global-bg-color
  background-color: #081530 !important

.global-text-color
  color: #081530 !important

.global-card-border
  border: 1px solid #E5E4E4 !important
  